<ion-view view-title="Appointments">
  <ion-content>

    <div class="row header">
      <span class="ion-arrow-left-a col" style="cursor: pointer" ng-click="prevDate()"></span>
      <span class="col">{{viewbleDate}}</span>
      <span class="ion-arrow-right-a col" style="cursor: pointer;text-align: right" ng-click="nextDate()"></span>
    </div>
    <div class="row" ng-repeat="appointment in appointments">
      <div class="col">{{appointment.start_at_time}}</div>
      <a class="col" href="#/app/appointments/{{appointment.id}}">{{appointment.patient_name}}</a>
      <div class="col">{{appointment.service_code}}</div>
    </div>
  </ion-content>
</ion-view>
