<ion-view view-title='<img class="title-image" style="height: 45px" src="img/logo.png" />'>
  <ion-content on-swipe-left="nextDate()" on-swipe-right="prevDate()" >

    <div class="row header" style="border-bottom: 1px solid #DADADA;padding: 6px 0 6px 0">
      <span class="ion-arrow-left-a" style="cursor: pointer;font-size: 25px;width: 20%" ng-click="prevDate()"></span>
      <span class="" style="font-size: 14px;font-weight: bold;width: 60%;text-align: center">{{viewbleDate}}</span>
      <span class="ion-arrow-right-a" style="width: 20%;cursor: pointer;text-align: right;font-size: 25px;" ng-click="nextDate()"></span>
    </div>
    <div id="calendar" >

    </div>
  </ion-content>
</ion-view>
