<ion-view view-title='<img class="title-image" style="height: 45px" src="img/logo.png" />'>
  <ion-content on-swipe-left="nextDate()" on-swipe-right="prevDate()" >

    <div class="row header" style="border-bottom: 1px solid #DADADA;padding: 6px 0 6px 0">
      <span class="ion-arrow-left-a" style="cursor: pointer;font-size: 25px;width: 20%" ng-click="prevDate()"></span>
      <span class="" style="font-size: 14px;font-weight: bold;width: 60%;text-align: center">{{viewbleDate}}</span>
      <span class="ion-arrow-right-a" style="width: 20%;cursor: pointer;text-align: right;font-size: 25px;" ng-click="nextDate()"></span>
    </div>
    <div class="row" style="border-bottom: 1px solid #DADADA;padding: 6px 3px 6px 3px" ng-repeat="appointment in appointments">
      <div class="" style="width: 38%">{{appointment.start_at_time}}-{{appointment.end_at_time}}</div>
      <a class="" style="width: 28%" href="#/app/appointments/{{appointment.id}}">{{appointment.patient_name}}</a>
      <div class="" style="width: 15%">{{appointment.service_code}}</div>
      <div class="" style="width: 19%;text-align: right">{{appointment.location}}</div>
    </div>
  </ion-content>
</ion-view>
