<script id="modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Delete Appointment</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-radio ng-model="choice.val" ng-value="'A'">Only this appointment</ion-radio>
        <ion-radio ng-model="choice.val" ng-value="'B'">This one and all recurring appointments that follow</ion-radio>
      </ion-list>
      <div class="row">
        <div class="col">
          <button class="button button-block button-assertive" type="button" ng-click="hideModal()">Cancel</button>
        </div>
        <div class="col">
          <button class="button button-block button-positive" type="button" ng-click="delete()">Yes</button>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>

<ion-view view-title='<img class="title-image" style="height: 45px" src="img/logo.png" />'>

  <ion-content>
    <form ng-submit="updateAppointment()">
      <div class="list">
        <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-person"></i>
            Clinician
          </span>
          <select ng-change="clinicianChanged(appointment.appointment.clinician_id)" ng-model="appointment.appointment.clinician_id" ng-options="clinician.id as clinician.name for clinician in newAppointmentSetting.clinicians">
            <option value="">Please select</option>
          </select>
        </label>
        <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-location"></i>
            Location
          </span>
          <select ng-model="appointment.appointment.location_id" ng-options="location.id as location.name for location in newAppointmentSetting.locations">
            <option value="">Please select</option>
          </select>
        </label>
        <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-chatbubbles"></i>
            Session Type
          </span>
          <select ng-model="appointment.appointment.service_code_id" ng-options="service_code.id as service_code.description for service_code in newAppointmentSetting.service_codes" ng-change="resetForm()">
            <option value="">Please select</option>
            <option ng-repeat="service_code in newAppointmentSetting.service_codes" ng-value="service_code.id">{{service_code.description}}</option>
          </select>
        </label>

        <label class="item item-select item-input" ng-if="!isCalenderEvent">
          <span class="input-label">
            <i class="icon ion-android-person"></i>
            Patient
          </span>
          <select ng-model="appointment.appointment.patient_id" ng-options="patient.id as patient.name for patient in newAppointmentSetting.patients">
            <option value="">Please select</option>
          </select>
        </label>

        <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-calendar"></i>
            Date
          </span>
          <input type="date" ng-model="appointment.appointment.start_at">
        </label>
        <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-ios-time"></i>
            Time
          </span>
          <input type="time" ng-model="appointment.appointment.start_time" ng-change="startTimeChanged(appointment.appointment.start_time)">
        </label>
        <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-ios-time"></i>
            Until
          </span>
          <input type="time" ng-model="appointment.appointment.end_time">
        </label>
        <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-ios-refresh"></i>
            Frequency
          </span>
          <select ng-model="appointment.appointment.frequency" ng-options="frequency for frequency in newAppointmentSetting.frequencies">
            <option value="">Please select</option>
          </select>
        </label>


        <label ng-if="appointment.appointment.frequency != 'One Time' && appointment.appointment.frequency != null && appointment.appointment.frequency != ''" class="item item-select item-input">
          <span class="input-label">Scheduled until</span>
          <input type="date" ng-model="appointment.appointment.scheduled_until">
        </label>

        <ion-checkbox ng-model="appointment.appointment.email_reminder" ng-if="!isCalenderEvent">
          <i class="icon ion-email"></i>
          Email Reminder
        </ion-checkbox>
        <ion-checkbox ng-model="appointment.appointment.text_reminder" ng-if="!isCalenderEvent">
          <i class="icon ion-android-textsms"></i>
          Text Reminder
        </ion-checkbox>

        <label class="item item-input">
          <span class="input-label">
            <i class="icon ion-edit"></i>&nbsp;
           <span ng-if="!isCalenderEvent">Reminder</span>
            <span ng-if="isCalenderEvent">Description</span>
          </span>
          <textarea ng-model="appointment.appointment.memo" style="height: 100px;"></textarea>
        </label>

        <div class="row">
          <div class="col">
          <button class="button button-block button-positive" type="submit">Save</button>
          </div>
          <div class="col">
            <button class="button button-block button-assertive" type="button" ng-click="showModal()">Delete</button>
          </div>
          <div class="col">
            <a class="button button-block button-dark" href="#/app/appointments/missed/{{appointment.appointment.id}}">Missed</a>
          </div>
        </div>

      </div>
    </form>
  </ion-content>

</ion-view>