<ion-view view-title='<img class="title-image" style="height: 45px" src="img/logo.png" />'>

<ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">
          <i class="icon ion-person"></i>
            Username
          </span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">
            <i class="icon ion-locked"></i>
            Password
          </span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>

