<ion-view view-title='<img class="title-image" style="height: 45px" src="img/logo.png" />'>

  <ion-content>
    <form ng-submit="createPayment()">
      <div class="list">
        <ion-item>

          <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-android-person"></i>
            Client *
          </span>
            <select ng-change="patientChanged(payment.payment.patient_id)" ng-model="payment.payment.patient_id" ng-options="patient.id as patient.name for patient in newPaymentSetting.patients">
              <option value="">Please select</option>
            </select>
          </label>

          <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-calendar"></i>
            Date *
          </span>
            <input type="date" ng-model="payment.payment.payment_date">
          </label>

          <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-calendar"></i>
            Credit *
          </span>
            <span>{{selectedPatient.credits}}</span>
          </label>

          <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-android-person"></i>
            Type *
          </span>
            <select ng-model="payment.payment.payment_type_id" ng-options="type.id as type.name for type in newPaymentSetting.payment_types">
              <option value="">Please select</option>
            </select>
          </label>

          <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-android-person"></i>
            Class *
          </span>
            <select ng-model="payment.payment.payment_class_id" ng-options="class.id as class.name for class in newPaymentSetting.payment_classes">
              <option value="">Please select</option>
            </select>
          </label>


          <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-android-person"></i>
            Currency *
          </span>
            <select ng-model="payment.payment.currency" ng-options="currency.shotcode as currency.name for currency in newPaymentSetting.currency">

            </select>
          </label>

          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-person"></i>
              Amount *
            </span>
            <input type="number" ng-model="payment.payment.amount" id="amount" ng-change="amountChanged(payment.payment.amount)">
          </label>

          <label class="item item-select item-input">
          <span class="input-label">
            <i class="icon ion-android-person"></i>
            Credit Card
          </span>
            <select ng-model="payment.payment.preferred_credit_card" ng-options="card.shotcode as card.name for card in newPaymentSetting.preferred_credit_cards">

            </select>
          </label>

          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-person"></i>
              Check/Payment #
            </span>
            <input type="text" ng-model="payment.payment.payment_number">
          </label>

          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-person"></i>
              Memo
            </span>
            <textarea ng-model="payment.payment.memo" style="height: 100px;"></textarea>
          </label>


        </ion-item>

        <ion-item>
          <label class="item item-input">
            <table width="99%" style="margin: 0 auto;">
              <thead>
              <tr style="border-bottom: 1px solid #DADADA;padding: 6px 0 6px 0; font-weight: bold">
                <th class="patient_header" style="text-align: left"></th>
                <th class="patient_header"  style="text-align: left">Amount</th>
              </tr>
              </thead>
              <tr ng-repeat="invoice in unpaidInvoices" style="border-bottom: 1px solid #DADADA;padding: 6px 0 6px 0;">
                <td>
                  <strong>Date:</strong> {{invoice.invoice_date}} <br/>
                  <strong>Balance:</strong> ${{invoice.amount}}  <br/>
                  <strong>Invoice#:</strong> {{invoice.invoice_number}}
                </td>
                <td style="vertical-align:middle"><input type="number" style="text-align: right;font-size: 15pt" placeholder="Enter Amount" ></td>
              </tr>
            </table>
          </label>

        </ion-item>



        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
