<ion-view view-title='<img class="title-image" style="height: 45px" src="img/logo.png" />'>

<ion-content>
  <form ng-submit="createPatient()">
    <div class="list">

      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="patient.patient.firstname">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="patient.patient.lastname">
      </label>
      <label class="item item-select item-input">
        <span class="input-label">Assign Clinician</span>
        <select ng-model="patient.patient.clinician_id" ng-options="clinician.id as clinician.name for clinician in newPatientSetting.clinicians">
          <option value="">Please select</option>
        </select>
      </label>

      <label class="item item-select item-input">
        <span class="input-label">Gender</span>
        <select ng-model="patient.patient.gender" ng-options="gender for gender in genderOptions">
          <option value="">Please select</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">DOB</span>
        <input type="date" ng-model="patient.patient.date_of_birth">
      </label>
      <label class="item item-input">
        <span class="input-label">Home Phone</span>
        <input type="text" class="masked_input" ng-model="patient.patient.homephone">
      </label>


      <label class="item item-input">
        <span class="input-label">Mobile Phone</span>
        <input type="text" class="masked_input" ng-model="patient.patient.mobilephone">
      </label>
      <label class="item item-select item-input">
        <span class="input-label">Message</span>
        <select ng-model="patient.patient.homephonemessage" ng-options="message for message in homephonemessageOptions">
          <option value="">Please select</option>
        </select>
      </label>
      <label class="item item-select item-input">
        <span class="input-label">Cell career</span>
        <select ng-model="patient.patient.mobile_carrier" ng-options="mobile_carrier for mobile_carrier in newPatientSetting.carriers">
          <option value="">Please select</option>
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="patient.patient.email">
      </label>

      <label class="item item-select item-input">
        <span class="input-label">Preferred phone</span>
        <select ng-model="patient.patient.preferredphone" ng-options="preferredphone for preferredphone in preferredphoneOptions">
          <option value="">Please select</option>
        </select>
      </label>

      <label class="item item-select item-input" style="border-top: 3px solid #00A9DF">
        <span class="input-label">Billing Type</span>
        <select ng-change="selectedBillingType()" ng-model="patient.patient.self_pay_billing_company_id" ng-options="self_pay_billing_company.id as self_pay_billing_company.name for self_pay_billing_company in newPatientSetting.billing_companies">
          <option value="">Please select</option>
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label">Default Cash Rate</span>
        <input type="number" ng-model="billing_setting.default_cash_rate">
      </label>


      <label style="border-top: 3px solid #00A9DF" ng-if="isInsuranceShowbale"  class="item item-select item-input">
        <span class="input-label">Insurance Provider</span>
        <select ng-model="provider.provider.provider_id" ng-options="patient_provider.id as patient_provider.name for patient_provider in newPatientSetting.patient_providers">
          <option value="">Please select</option>
        </select>
      </label>

      <label ng-if="isInsuranceShowbale" class="item item-input">
        <span class="input-label">Insured's ID</span>
        <input type="text" ng-model="provider.provider.insured_id_number">
      </label>

      <label ng-if="isInsuranceShowbale" class="item item-input">
        <span class="input-label">Group #</span>
        <input type="text" ng-model="provider.provider.insured_policy_group">
      </label>

      <label ng-if="isInsuranceShowbale" class="item item-input">
        <span class="input-label">Copay</span>
        <input type="text" ng-model="provider.provider.copay">
      </label>

      <label class="item">
        <button class="button button-block button-positive" type="submit">Save</button>
      </label>
    </div>
  </form>
</ion-content>
</ion-view>
