<ion-view view-title='<img class="title-image" style="height: 45px" src="img/logo.png" />'>

  <ion-content>
    <form ng-submit="createPatient()">
      <div class="list">
        <ion-item>
          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-person"></i>
              First Name
            </span>
            <input type="text" ng-model="patient.patient.firstname">
          </label>
          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-person"></i>
              Last Name
            </span>
            <input type="text" ng-model="patient.patient.lastname">
          </label>

          <label class="item item-select item-input">
            <span class="input-label">
              <i class="icon ion-transgender"></i>
              Gender
            </span>
            <select ng-model="patient.patient.gender" ng-options="gender for gender in genderOptions">
              <option value="">Please select</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-calendar"></i>
              DOB
            </span>
            <input type="tel" id="dob" class="masked_input_dob" placeholder="mm/dd/yyyy"
                   ng-model="patient.patient.date_of_birth">
          </label>

          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-email"></i>
              Email
            </span>
            <input type="email" ng-model="patient.patient.email">
          </label>
        </ion-item>

        <ion-item>
          <label class="item item-select item-input">
            <span class="input-label">
              <i class="icon ion-person"></i>
              Assign Clinician
            </span>
            <select ng-model="patient.patient.clinician_id"
                    ng-options="clinician.id as clinician.name for clinician in newPatientSetting.clinicians">
              <option value="">Please select</option>
            </select>
          </label>
        </ion-item>
        <ion-item>
          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-android-call"></i>
              Home Phone
            </span>
            <input type="tel" id="home_phone" class="masked_input" ng-model="patient.patient.homephone">
          </label>

          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-iphone"></i>
              Mobile Phone
            </span>
            <input type="tel" id="mobile_phone" class="masked_input" ng-model="patient.patient.mobilephone">
          </label>
          <label class="item item-select item-input">
            <span class="input-label">
              <i class="icon ion-android-textsms"></i>
              Message
            </span>
            <select ng-model="patient.patient.mobilephonemessage"
                    ng-options="message for message in homephonemessageOptions">
              <option value="">Please select</option>
            </select>
          </label>
          <label class="item item-select item-input">
            <span class="input-label">
              <i class="icon ion-wifi"></i>
              Cell carrier
            </span>
            <select ng-model="patient.patient.mobile_carrier"
                    ng-options="mobile_carrier for mobile_carrier in newPatientSetting.carriers">
              <option value="">Please select</option>
            </select>
          </label>

          <label class="item item-select item-input">
            <span class="input-label">
              <i class="icon ion-android-call"></i>
              Preferred phone
            </span>
            <select ng-model="patient.patient.preferredphone"
                    ng-options="preferredphone for preferredphone in preferredphoneOptions">
              <option value="">Please select</option>
            </select>
          </label>

        </ion-item>


        <ion-item>
          <label class="item item-select item-input">
            <span class="input-label">
              <i class="icon ion-card"></i>
              Billing Type
            </span>
            <select ng-change="selectedBillingType()" ng-model="patient.patient.self_pay_billing_company_id"
                    ng-options="self_pay_billing_company.id as self_pay_billing_company.name for self_pay_billing_company in newPatientSetting.billing_companies">
              <option value="">Please select</option>
            </select>
          </label>

          <label class="item item-input" ng-if="isCashShowbale">
            <span class="input-label">
              <i class="icon ion-social-usd"></i>
              Default Cash Rate
            </span>
            <input type="number" ng-model="billing_setting.default_cash_rate">
          </label>
        </ion-item>

        <ion-item ng-if="isInsuranceShowbale">
          <label  class="item item-select item-input">
            <span class="input-label">
              <i class="icon ion-information-circled"></i>
              Insurance
            </span>
            <select ng-model="provider.provider.provider_id"
                    ng-options="patient_provider.id as patient_provider.name for patient_provider in newPatientSetting.patient_providers">
              <option value="">Please select</option>
            </select>
          </label>

          <label  class="item item-input">
            <span class="input-label">
              <i class="icon ion-person"></i>
              Insured's ID
            </span>
            <input type="text" ng-model="provider.provider.insured_id_number">
          </label>

          <label class="item item-input">
            <span class="input-label">
              <i class="icon ion-calculator"></i>
              Group #
            </span>
            <input type="text" ng-model="provider.provider.insured_policy_group">
          </label>

          <label  class="item item-input">
            <span class="input-label">
              <i class="icon ion-social-usd"></i>
              Copay
            </span>
            <input type="text" ng-model="provider.provider.copay">
          </label>
        </ion-item>

        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>