<ion-view view-title='<img class="title-image" style="height: 45px" src="img/logo.png" />'>
<ion-content>
  <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
  </ion-refresher>

  <table width="99%" id="patient_list" style="margin: 0 auto">
    <thead>
    <tr style="border-bottom: 1px solid #DADADA;padding: 6px 0 6px 0; font-weight: bold">
      <th class="patient_header" style="text-align: left">Client #</th>
      <th class="patient_header"  style="text-align: left">Name</th>
      <th class="patient_header"  style="text-align: left">DOB</th>
    </tr>
    </thead>
    <tr ng-repeat="patient in patients" style="border-bottom: 1px solid #DADADA;padding: 6px 0 6px 0">
      <td>{{patient.patient_number}}</td>
      <td><a class="col" href="#/app/patients/{{patient.id}}">{{patient.name}}</a></td>
      <td>{{patient.date_of_birth}}</td>
    </tr>
  </table>
  </ion-content>
</ion-view>
