.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { background-color: rgba(16, 174, 225, 0.1); }

label.search{
    width: 99%;
    margin: 5px auto;
    border: 1px solid #DADADA;
}
table#patient_list tr td{
  padding: 0 2px;
}
.fc-content .fc-title{
    font-weight: bold !important;
    font-size: 16px !important;
    color: #2371b0;
}

.fc-time-grid-event .fc-time {
    font-weight: bold !important;
    font-size: 14px !important;
    color: #2371b0;
}

a.fc-custom .fc-content {
    display: inline-flex;
}

a.fc-custom .fc-title {
    padding-left: 10px;
}

tr.deactivated {
background:#F3F3F3;
}
.error-messages {
 color: red;
 padding-left: 10px;
}
ul.error-list li {
 list-style-type: circle;
}
